* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #759541bd;
}

.calculator {
    width: 360px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: #fff;
}

.calculator-display {
    background-color: #333;
    color: white;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    height: 80px;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.btn {
    background-color: #f1f1f1;
    border: none;
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ddd;
}

[data-action="operator"] {
    background-color: #ff9500;
    color: white;
}

[data-action="equal"] {
    background-color: #28a745;
    color: white;
    grid-column: span 1;
}

[data-action="clear"],
[data-action="delete"] {
    background-color: #ff3b30;
    color: white;
}

.btn[data-action="equal"]:hover,
.btn[data-action="operator"]:hover,
.btn[data-action="clear"]:hover,
.btn[data-action="delete"]:hover {
    background-color: #ff7043;
}
